body{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    
}
img {
    /* border: 1px solid #ddd; */
    border-radius:8px;
    padding: 5px;
    width: 150px;
    opacity: 0.8;
  }

.button1 {
    background-color: rgb(86, 1, 97);
    }
  
img:hover {
    opacity: 1;
    zoom: 150%;
  }
a:hover{
    color: tomato;
    zoom: 150%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

/* li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

li a:hover:not(.active) {
    background-color: rgb(241, 177, 177);
}
.intro{
    margin: 0%;
    padding: 0%;    
}

#main{
    background-image: linear-gradient(to bottom,rgba(126, 109, 124, 0.1) 0,rgba(197, 86, 151, 0.5) 75%,#fc029c 100%);
    position: relative;
    width: 100%  ;
    height: auto;
    min-height: 15rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0%;
    /* padding: 0%; */
}
a{
    color: black;
}
#about{
    position: relative;
    height: auto;
    min-height: 35rem;
    padding: 1 rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0%;   
}
#contact{
    position: relative;
    height: auto;
    min-height: 35  rem;
    padding: 1rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0%; 
}
nav{
    background-color: white;
}
#projectss{
    background-color: black;
    margin: 0%;
    padding: 0%;
}
#half{
    background-color: white;
}
#halfs{
    background-color: #FF69B4;
}
#manNav{
    color: black;
}
#aboutme{
    margin: 0%;
    padding: 0%;
}
#project{
    margin: 0%;
    padding: 0%;
}
/* .image{
    margin: 10px;
    padding: 10px;
} */
.habout{
    color: rgb(34, 3, 63);
    font-family: 'Times New Roman', Times, serif;   
}